# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Project3.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Alex\Desktop\S21_GPR420_02\Project3\.idea\.idea.Project3\.idea/dataSources/
/dataSources.local.xml
